.toolbar{
   height: 13vh;
   width: 100%;
   display: flex;
   justify-content: space-between;
   background-color: #03001a;
   padding: 0 20px;
   box-sizing: border-box;
   z-index: 90;

}

.navitem{
  position:absolute;
  left:18%
}

.search{
  display: inline-block;
  position: relative;
  top:20%;
}

.search:hover input{
  width: 350px;
}

input {
  width: 0px;
  height: 35px;
  border: 0;
  transition: all 0.3s;
}

.button {
  width: 35px;
  height: 35px;
  background-color: #333;
  color: #fff;
  border: 0;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navitems{
  list-style-type: none;
  flex-flow: row;
  align-items: center;
  height:100%;
  display: flex;
  margin-top:-18px;
}

.navitema{
  margin: 20px 0px 0px 30px;
  font-size: 18px;
  display: flex;
  height: 100%;
  width: auto;
  align-items: center;
}

.navitema a{
  text-decoration: none;
  width: 100%;
  color: white;
  border-bottom: 4px solid transparent;
}

.navitema a:hover,
.navitema a:active{
  border-bottom: 4px solid #40A4C8;
  color: white;
}

.navitemab{
  margin: 20px 0px 0px 30px;
  font-size: 18px;
  display: flex;
  height: 100%;
  width: auto;
  align-items: center;
}

.navitemab a{
  text-decoration: none;
  width: 100%;
  color: white;
}


.num{
  color:#fff;
  position:absolute;
  top:3.3%;
  right:0.4%;
  height:40px;
  text-transform: full-width;
}
