.navitems{
  list-style-type: none;
  flex-flow: row;
  align-items: center;
  height:100%;
  display: flex;

}

.navitem{
       margin: 20px 0px 0px 30px;
       font-size: 18px;
       display: flex;
       height: 100%;
       width: auto;
       align-items: center;

}

.navitem a {
   text-decoration: none;
   width: 100%;
   color: white;
   border-bottom: 4px solid transparent;
}

.navitem a:hover,
.navitem a:active{
  border-bottom: 4px solid #40A4C8;
  color: white;
}
