
.card{
  height:20rem;

}

.bi{
  height:13rem;
  width:100%;
  background-size: cover;

}

.title{
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: "Segoe UI";
}
