.shopping_Cart{
  margin:1rem;
}

.checkout{
  display:flex;

}
 .checkout button{
   margin-left: 40px;
   color:#fff;
   background-color: #4f43ae;
   outline: 0;
   padding:10px;
   position:relative;
   border: none;
   text-decoration: none;
 }

.card{
  border-top: 2px solid black;
}
